<h1>{{movie.title}}</h1>

<div class="row"  style="margin-top: 30px;">
  <div class="col-md-3">
    <img class="thumbnail" src="http://localhost:3000/{{movie.thumbnail}}" alt="">
  </div>

  <div class="col-md-9">
    <div><strong>Year: </strong>{{movie.year}}</div>
    <div><strong>Rating: </strong>{{movie.rating}}</div>
    <div><strong>Directors: </strong>{{movie.directors}}</div>
    <div><strong>Writers: </strong>{{movie.writers}}</div>
    <div><strong>Stars: </strong>{{movie.stars}}</div>
    <div><strong>Short Description: </strong>{{movie.shortDescription}}</div>
    <div><strong>Storyline: </strong>{{movie.storyline}}</div>
  </div>
</div>

